* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game {
    margin: 0 auto;
    width: 95%;
}

#game header {
    padding: 10px;
}